.play-title {
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4a3b37;
  margin-bottom: 12px;
}
.play-text {
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4a3b37;
  margin-bottom: 12px;
}
.play-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.play-item {
  padding: 12px;
  background: #b9e9ff;
  border-radius: 14px;
}
.play-item-title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 10px;
}
.play-item-text {
  font-size: 16px;
  color: rgba(74, 59, 55, 0.8);
}
@media screen and (min-width: 1440px) {
  .play-title {
    font-size: 48px;
  }
  .play-text {
    font-size: 20px;
    margin-bottom: 44px;
  }
  .play-item {
    width: 416px;
    min-height: 138px;
    padding: 14px 24px;
  }
  .play-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .play-item-text {
    font-size: 32px;
  }
  .play-item-text {
    font-size: 24px;
  }
  .play-item-title {
    font-size: 32px;
  }
}
