.terms {
}
.terms-container {
}
.container {
}
.terms-back-link {
  margin-bottom: 64px;
}
.terms-title {
  margin-bottom: 64px;
}
.terms-content {
}
.terms-subtitle {
  font-size: 24px;

  line-height: 1.317;
  color: #4a3b37;
}
.terms-text {
}
.terms-name {
}
.terms-domain {
}
.terms-section-title {
}
.terms-list {
}
.terms-list-item {
  margin-bottom: 24px;
}
