<section class="section about" id="about">
  <div class="container about-container">
    <h2 class="title_about">About the Game</h2>
    <p class="text_about">
      Look, I know what you're thinking - another match-3 game, right? But this
      one's actually different Hello Kitty Merch Match goes beyond traditional
      match-3 by adding a strong collection layer. Players don’t just complete
      levels — they gather items, decorate spaces, and interact with familiar
      characters. There's something weirdly satisfying about watching your
      little collection grow with each level
    </p>

      <picture>
        <source srcset="img/about/about_desk@2x.jpg" media="(min-width: 1440px)" />

        <img
          src="img/about/about_desk.jpg"
          alt="Hello Kitty Merch"
          class="about-image"
        />
      </picture>

  </div>
</section>
