<section class="section characters section-spacing" id="characters">
  <div class="characters-container container">
    <h2 class="characters-title">Characters</h2>

    <p class="characters-subtitle">Meet your favorite Sanrio characters</p>

    <div
      class="swiper characters-swiper"
      id="data-characters-swiper"
      data-characters-swiper
    >
      <ul class="swiper-wrapper characters-list">
        <li class="swiper-slide characters-item characters-item--blue">
          <img
            class="characters-img"
            src="img/characters/hello_kitty.png"
            alt="Hello Kitty"
          />
          <div class="characters-wrapper characters-wrapper--blue">
            <h3 class="characters-item-title">Hello Kitty</h3>
            <p class="characters-item-text">
              The central character who guides the experience
            </p>
          </div>
        </li>
        <li class="swiper-slide characters-item characters-item--pink">
          <img
            class="characters-img"
            src="img/characters/melody.png"
            alt="My Melody"
          />
          <div class="characters-wrapper characters-wrapper--pink">
            <h3 class="characters-item-title">My Melody</h3>
            <p class="characters-item-text">
              Adds a playful and soft <br />personality.
            </p>
          </div>
        </li>
        <li class="swiper-slide characters-item characters-item--dark">
          <img
            class="characters-img"
            src="img/characters/kuromi.png"
            alt="Kuromi"
          />
          <div class="characters-wrapper characters-wrapper--dark">
            <h3 class="characters-item-title kuromi-title">Kuromi</h3>
            <p class="characters-item-text kuromi-text">
              Brings contrast and energy to the world.
            </p>
          </div>
        </li>
        <li class="swiper-slide characters-item characters-item--beige">
          <img
            class="characters-img"
            src="img/characters/cinnamoroll.png"
            alt="Cinnamoroll"
          />
          <div class="characters-wrapper characters-wrapper--beige">
            <h3 class="characters-item-title">Cinnamoroll</h3>
            <p class="characters-item-text">
              Creates a light and dreamy atmosphere.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
