<section class="section contact" id="contacts">
  <div class="container contact-container">
    <h2>Let’s stay in touch</h2>
    <address class="touch-address">
      <a class="touch-link" href="mailto:info@longprotocol.online">
        Email: info@longprotocol.online
      </a>
    </address>

    <div class="touch-app-link">
      <a
        href="https://play.google.com/store/apps/details?id=jp.co.applibot.HelloKittyMerchMatch&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <picture>
          <source srcset="img/g_play_desk.png" media="(min-width: 1440px)" />
          <img
            class="g-play-img"
            src="img/g_play.png"
            alt="Get it on Google Play"
            loading="lazy"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
