<section class="faq" id="faq">
  <div class="container">
    <h2 class="section-title">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="ac faq-list-item">
        <button type="button" class="button-text ac-trigger">
          Is the game suitable for all ages?
          <span>
            <svg class="" width="24" height="24">
              <use href="./img/sprite.svg#icon_chevron_down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <div class="faq-content">
            <p>Yes. It’s designed to be family-friendly.</p>
          </div>
        </div>
      </li>

      <li class="ac faq-list-item">
        <button type="button" class="ac-trigger button-text">
          Can I customize spaces?
          <span>
            <svg class="" width="24" height="24">
              <use href="./img/sprite.svg#icon_chevron_down"></use>
            </svg>
          </span>
        </button>
        <div class="ac-panel">
          <div class="faq-content">
            <p>Yes. Decoration is a key feature.</p>
          </div>
        </div>
      </li>

      <li class="ac faq-list-item">
        <button type="button" class="ac-trigger button-text">
          Is it easy to play?
          <span>
            <svg class="" width="24" height="24">
              <use href="./img/sprite.svg#icon_chevron_down"></use>
            </svg>
          </span>
        </button>
        <div class="ac-panel">
          <div class="faq-content">
            <p>Yes. The mechanics are simple and intuitive.</p>
          </div>
        </div>
      </li>
      <li class="ac faq-list-item">
        <button type="button" class="ac-trigger button-text">
          Are there many items to collect?
          <span>
            <svg class="" width="24" height="24">
              <use href="./img/sprite.svg#icon_chevron_down"></use>
            </svg>
          </span>
        </button>
        <div class="ac-panel">
          <div class="faq-content">
            <p>Yes. New items unlock as you progress.</p>
          </div>
        </div>
      </li>
      <li class="faq-list-item ac">
        <button type="button" class="button-text ac-trigger">
          Can I play in short sessions?
          <span>
            <svg class="" width="24" height="24">
              <use href="./img/sprite.svg#icon_chevron_down"></use>
            </svg>
          </span>
        </button>
        <div class="ac-panel">
          <div class="faq-content">
            <p>Yes. Levels are quick and accessible.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
