<section class="section features" id="features">
  <div class="container features-container">
    <h2>Features</h2>
    <p class="features-par">What makes this game special</p>
    <ul class="features-list">
     
        <li class="feature-item feat-1">
          <h3 class="feat-h3">Collection System</h3>
          <p class="feat-p">Unlock a variety of themed items.</p>
        </li>
        <li class="feat-2 desktop-hidden">
          <picture>
            <source
              srcset="./img/features/features_1_mob@2x.jpg"
              media="(min-width: 1440px)"
            />

            <img
              src="./img/features/features_1_mob.jpg"
              alt="Hello Kitty Merch"
              class="feature-image"
            />
          </picture>
        </li>

        <li class="feature-item feat-3">
          <h3 class="feat-h3">Customization</h3>
          <p class="feat-p">Decorate and personalize your spaces.</p>
        </li>
   
      <li class="feat-4 mobile-hidden">
        <picture>
          <source
            srcset="img/features/features_1__desk.jpg"
            media="(min-width: 1440px)"
          />

          <img
            src="img/features/features_1__desk@2x.jpg"
            alt="Hello Kitty Merch"
            class="feature-image"
          />
        </picture>
      </li>
      <li class="feat-5 desktop-hidden">
        <picture>
          <source
            srcset="./img/features/features_2_mob@2x.jpg"
            media="(min-width: 1440px)"
          />

          <img
            src="./img/features/features_2_mob.jpg"
            alt="Hello Kitty Merch"
            class="feature-image"
          />
        </picture>
      </li>
      <li class="feat-6 mobile-hidden">
        <picture>
          <source
            srcset="./img/features/features_2_desk@2x.jpg"
            media="(min-width: 1440px)"
          />

          <img
            src="./img/features/features_2_mob@2x.jpg"
            alt="Hello Kitty Merch"
            class="feature-image"
          />
        </picture>
      </li>
      <li class="feature-item feat-7">
        <h3 class="feat-h3">Classic Match-3 Gameplay</h3>
        <p class="feat-p">Easy to learn, satisfying to play.</p>
      </li>
      </ul>
      <ul class='features-list-2'>
      <li class="feature-item feat-8">
        <h3 class="feat-h3">Charming Visuals</h3>
        <p class="feat-p">Soft colors and recognizable characters.</p>
      </li>
      <li class="feature-item feat-9">
        <h3 class="feat-h3">Steady Progression</h3>
        <p class="feat-p">New content unlocks over time.</p>
      </li>
    </ul>
  </div>
</section>
