<section class="section gallery" id="gallery">
  <div class="container swiper mySwiper">
    <h2>Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/gallery/gallery_1_desk.jpg"
              media="(min-width: 1440px)"
            />

            <img
              src="./img/gallery/gallery_1_desk@2x.jpg"
              alt="Hello Kitty Merch"
              class="feature-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/gallery/gallery_2_desk.jpg"
              media="(min-width: 1440px)"
            />

            <img
              src="./img/gallery/gallery_2_desk@2x.jpg"
              alt="Hello Kitty Merch"
              class="feature-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          Slide 3<picture>
            <source
              srcset="./img/gallery/gallery_3_desk.jpg"
              media="(min-width: 1440px)"
            />

            <img
              src="./img/gallery/gallery_3_desk@2x.jpg"
              alt="Hello Kitty Merch"
              class="feature-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/gallery/gallery_4_desk.jpg"
              media="(min-width: 1440px)"
            />

            <img
              src="./img/gallery/gallery_4_desk@2x.jpg"
              alt="Hello Kitty Merch"
              class="feature-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./img/gallery/gallery_5_desk.jpg"
              media="(min-width: 1440px)"
            />

            <img
              src="./img/gallery/gallery_5_desk@2x.jpg"
              alt="Hello Kitty Merch"
              class="feature-image"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
