<section class="section hero" id="hero">
  <div class="container hero-container">
    <div class="title_container">
      <h1 class="title">Match, Collect, and Create Your Space.</h1>
    </div>
    <div class="hero_text">
      <p>
        Each time you beat a level, you get some new cute thing to add to your
        space.
      </p>
    </div>
    <div class="hero-btn">
      <a
        type="button"
        href="https://play.google.com/store/apps/details?id=jp.co.applibot.HelloKittyMerchMatch&hl=en&gl=us"
        target="_blank"
      >
        <picture>
          <source srcset="img/g_play_desk.png" media="(min-width: 1440px)" />

          <img
            class="g-play-img"
            src="img/g_play.png"
            alt="Get it on Google Play"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
