<section class="section hero" id="hero">
  <div class="container">
    <div class="title_container">
      <h1 class="title">Match, Collect, and Create Your Space.</h1>
    </div>
    <div class="hero_text">
      <p>Each time you beat a level, you get some new cute thing to add to your space.</p>
    </div>
    <div class="hero-btn">
      <a type="button" href="#" target="_blank">
        <img src="../img/g_play.png" alt="Get it on Google Play" width="">
      </a>
    </div>

  </div>
</section>
