<section class="section reviews" id="reviews">
  <div class="container">
    <h2>Player Reviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        
        <div class="swiper-slide review-item">
          <h3>CuteFan</h3>
          <picture>
        <img 
        class="stars-img" 
        src="img/five_stars.png" 
        alt="Five stars"
      >
      <p>“OMG this game is so cute! I'm obsessed with collecting all the little Hello Kitty items - my room looks amazing now!”</p>
        </div>
        <div class="swiper-slide review-item">
          <h3>Anna K.</h3>
      
        <img 
        class="stars-img" 
        src="img/four_stars.png" 
        alt="Four stars"
      >
      <p>“Relaxing and very pretty.”</p>
        </div>
        <div class="swiper-slide review-item">
          <h3>MatchLover</h3>

        <img 
        class="stars-img" 
        src="img/five_stars.png" 
        alt="Five stars"
      >
      <p>“Fun gameplay with a nice twist.”</p>
        </div>
        <div class="swiper-slide review-item">
          <h3>Lena P.</h3>
      
        <img 
        class="stars-img" 
        src="img/four_stars.png" 
        alt="Four stars"
      >
      <p>“Great for casual play.”</p>
        </div>
        <div class="swiper-slide review-item">
          <h3>Hello World</h3>

        <img 
        class="stars-img" 
        src="img/five_stars.png" 
        alt="Five stars"
      >
      <p>“Finally, a match-3 game that lets me actually DO something with my wins. Love decorating my space!”</p>
        </div>
      </div>
      <div class="reviews-controls">
        <button type="button" class="swiper-button-prev-custom">
          <svg width="32" height="32"><use href="img/sprite.svg#icon_arrow_back"></use></svg>
           
        </button>
        <button type="button" class="swiper-button-next-custom">
          <svg width="32" height="32"><use href="img/sprite.svg#icon_arrow_forward"></use></svg>
        </button>
      </div>
    </div>
  </div>
</section>