/* --- 1. ШРИФТИ (Google Fonts) --- */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Inter:wght@400&family=Sniglet:wght@400;800&display=swap');

/* --- ІМПОРТИ СЕКЦІЙ  --- */
@import url('css/sections/header.css');
@import url('css/sections/hero.css');
@import url('css/sections/about.css');
@import url('css/sections/how-to-play.css');
@import url('css/sections/features.css');
@import url('css/sections/characters.css');
@import url('css/sections/gallery.css');
@import url('css/sections/reviews.css');
@import url('css/sections/faq.css');
@import url('css/sections/footer.css');
@import url('css/sections/legal.css');

/* --- СКИНУТТЯ СТИЛІВ (Reset) --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 color: #4a3b37;
 font-family: "Sniglet", system-ui;
 font-weight: 400;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
h2{
 font-family: "Sniglet", system-ui;
font-weight: 800;
font-size: 48px;
letter-spacing: 0em;
text-align: center;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* --- ГЛОБАЛЬНІ ЗМІННІ (Variables) --- */
:root {
  /* Розміри */
  --container-desktop: 1440px;
  --container-mobile: 375px;
  --section-gap: 78px; /* Однакові відступи між секціями за ТЗ */
}

html {
  scroll-behavior: smooth;
}
header{
font-family: "Sniglet", system-ui;
font-weight: 400;
font-size: 20px;
color: #4a3b37;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
  }
}

